fastapi
uvicorn

pydantic
email-validator
python-dotenv
typing-extensions

passlib[bcrypt]
bcrypt==4.1.2

python-multipart
requests

google-auth
google-auth-oauthlib

aiosmtplib

PyJWT==2.10.1
google-generativeai
