
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer {
  background-color: #28a3b3;
  color: #fff;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.content {
  display: grid;
  gap: 1rem;
  padding-bottom: 1rem;
  color: #fff;
}


.brandColumn {
  max-width: 20rem;
}


.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}


.logoIcon {
  height: 2rem;
  width: 3rem;
}


.brandDescription {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 1rem;
  line-height: 1.6;
}


.socialIcons {
  display: flex;
  gap: 0.75rem;
}


.socialIcon {
  padding: 0.5rem;
  border-radius: 0.375rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  transition: background-color 0.2s;
  cursor: pointer;
  border: none;
}


.socialIcon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.linkColumn h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: white;
}


.linkList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.link {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: color 0.2s;
}


.link:hover {
  color: white;
}


.languageColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.languageToggle {
  display: flex;
  gap: 0.5rem;
}


.langButton {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.brandLogo {
  width: 30px;         /* Change size as needed */
  height: 30px;
  object-fit: contain;
  margin-right: 0.5rem;
}



.langButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.appButtons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}


.storeImg {
  width: 180px;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
}



.appButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}


.appButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.appVersion {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.916);
}


.copyright {
  border-top: 1.5px solid rgba(255, 255, 255, 0.886);
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.8);
}


@media (min-width: 768px) {
  .content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}


@media (min-width: 1024px) {
  .content {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

